apiCalls.js    
    
    // connect all input btns together

    var selectedActivity = "";
    var queryURL;
    $("#activity").change(function() {
    selectedActivity = $(this).val()
    })
    function makeQueryURL() {
    queryURL = 'https:/owrhgaioesg/' + apikey + state;
    if ( selectedActivity !== 'none' ) {
        queryURL += 'activity=' + selectedActivity;
    }
    if ( otherOption !== 'none' ) {
        queryURL += otherOption;
    }
    }
    function ajaxCall() {
    makeQueryURL();
    }


    parks - state
    queryURL = "https://developer.nps.gov/api/v1/parks?api_key=9bu5bi3vaKYgYQt7Cj4pxdYFN8pkwsL9zSIiRFEd"

    activities/parks
    queryURL = "https://developer.nps.gov/api/v1/activities/parks?api_key=9bu5bi3vaKYgYQt7Cj4pxdYFN8pkwsL9zSIiRFEd"

    ameninties/parksplaces
    queryURL = "https://developer.nps.gov/api/v1/amenities/parksplaces?api_key=9bu5bi3vaKYgYQt7Cj4pxdYFN8pkwsL9zSIiRFEd" 

    topics/parks
    queryURL ="https://developer.nps.gov/api/v1/topics/parks?api_key=9bu5bi3vaKYgYQt7Cj4pxdYFN8pkwsL9zSIiRFEd" 
