body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.bodyContainer {
  height: 100vh;
}

header {
  background-color: #222b23;
  color: white;
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  align-items: center;
  /* height: 200px; */
  box-shadow: 0rem 0.2rem 0.2rem 0 rgba(0, 0, 0);
}

header h1 {
  margin-bottom: 10px;
}

header Img {
  max-width: 80%;
  /* margin: auto; */
  /* position: relative; */
}

#navMenu {
  position: absolute;
  top: 15px;
  left: 15px;
}

.dropbtn {
  background-color: #3c4f40;
  border-radius: 10px;
  border-style: none;
  padding: 1px 10px 1px 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
  color: #222b23;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 1px 10px 1px 10px;
  border-radius: 3px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: #a0b5a4;
  font-weight: bolder;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #e7f7e8;
}

/* //////////////////// End of header info */

.resultsPage {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultsPage h3 {
  font-weight: bold;
  padding-bottom: 0.5rem;
  font-size: 24pt;
  color: #435646;
}

#resultsIntro {
  font-size: 14pt;
  color: #435646;
  margin: 2rem 0 1rem 0;
  max-width: 90%;
  color: black;
  font-weight: 300;
}

#resultsResume h3 {
  padding: 10px 0px 15px 0px;
  font-size: 16pt;
  color: #435646;
  font-weight: 500;
}

.results:hover {
  transform: translateY(-0.2rem);
  transition: transform 150ms;
}

#parentResultsDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#parentResultsDiv h4 {
  font-weight: bold;
  font-size: 20pt;
  color: white;
}

.results {
  background-color: #222b23;
  color: white;
  border-radius: 3px;
  margin: 1rem;
  padding: 1rem 0rem 1rem 0rem;
  border-radius: 5px;
  box-shadow: 0rem 0.2rem 0.2rem 0 rgba(0, 0, 0);
  border: 2px outset rgba(111, 119, 113, 0.938);
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1rem 0rem 2rem 0rem;
  align-items: center;
  justify-content: center;
  /* background-color: #435646; */
  color: #729678;
  max-width: 85%;
  /* background-color: white; */
}

.container p {
  display: inline-block;
  flex-direction: column;
  justify-content: right;
  margin: 1rem 0.5rem 0rem 0.5rem;
  align-items: center;
}

/* footer {
  background-color: #435646;
  height: 1.5rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin-top: 2rem;
} */
