.pure-g > div {
  box-sizing: border-box;
}
.l-box {
  padding: 1em;
}

body {
  font-size: 1rem;
}
/* green header box */
header {
  background-color: #222b23;
  color: white;
  display: flex;
  flex-direction: column;
}

#indexBody {
  background-color: #222b23;
  color: white;
}

#startButton {
  background-color: white;
  color: #222b23;
  margin-bottom: 15rem;
}

/* header website name. Will need adjusted media query for font size and padding */
#webName {
  padding-top: 100px;
  margin: auto;
}

/* tree logo */
#logoImgIndex {
  max-width: 80%;
  margin: auto;
}

#logoImg {
  max-width: 80%;
  margin: auto;
}

#navMenu {
  color: white;
  position: absolute;
  top: 20px;
}

h6 {
  padding: 0.5em;
}

#searchIntro {
  padding: 1em;
  margin: auto 0;
  text-align: center;   
}

#searchSummary {
  font-weight: bold;
}

#searchContainer {
  padding: 1em;
}

#stateCard, #activityCard, #themeCard, #amenityCard { 
/*#search-cards { */
  background-color:  #222b23;
  padding: 0.3em;
  margin: auto 0.3em;
  margin-bottom: 1em;
  height: 5em; 
  color: white;
  text-align: center;   
}

#stateButtonBox, #activityButtonBox, #themeButtonBox, #amenityButtonBox { 
  background-color: white;
  margin: auto 0.2em;
  text-align: center;   
}

#searchSubmission {
  padding: 0.5em;
  margin: auto 1em;
  text-align: center;   
}

#submitButton {
  background-color: #222b23;
  color: white;
  padding: 0.5em;
  height: 2em;
  margin-bottom: 2em;
}

.resultsPage {
  /* background-color: tomato; */
  margin: auto;
  text-align: center;
}
.results {
  background-color: #222b23;
  color: white;
  border-radius: 1rem;
  margin: auto;
  margin-bottom: 5rem;
  text-align: center;
  padding: 1rem;
  /* width: 80%; */
}

.results a {
  color: white;
}

footer {
  background-color: #435646;
  height: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#footerIndex {
  background-color: #435646;
  height: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#detailSidebar {
  background-color: #afdeb7;
  height: 30rem;
  width: 33%;
  padding: 1em;
}

#detailMain {
  height: 30rem;
  width: 66%;
  padding: 1em;
} 

#detailsParkName {
  text-align: center;
}

#detailActivitiesArea, #detailTopicsArea, #detailAmenitiesArea {
  border: 1px solid  #222b23; 
  width: 33%;
  float: left;
}

.detailCardSubheading {
  background-color: #222b23;
  color: white;
}