
/*//////////////////////////////////////////////////////////////////
/*MARGARET PUT THIS IN TO DEAL WITH LEFT-HAND MARGIN AT TOP OF 'DETAILS' */
.pure-g > div {
  box-sizing: border-box;
}
.l-box {
  padding: 1em;
} 
/*///////////////////////////////////////////////////////////////////

body {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
}
.bodyContainer {
  height: 103vh;
}
header {
  background-color: #222b23;
  color: white;
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  align-items: center;
  /* height: 200px; */
  box-shadow: 0rem 0.2rem 0.2rem 0 rgba(0, 0, 0);
}

header h1 {
  margin-bottom: 10px;
}

header Img {
  max-width: 80%;
  /* margin: auto; */
  /* position: relative; */
}

#navMenu {
  position: absolute;
  top: 15px;
  left: 15px;
}

.dropbtn {
  background-color: tomato;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 3px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #a0b5a4;
  border-radius: 3px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #e7f7e8;
}

/* ////////////////////// SEARCH PAGE ////////////////////////////////// */
#searchIntro {
  padding-top: 2rem;
  text-align: center;
  max-width: 60%;
  margin: auto;
  margin-bottom: 1rem;
}

#searchIntro h2 {
  font-weight: bold;
  padding-bottom: 1rem;
  font-size: 18pt;
  color: #435646;
}

#searchContainer {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.search-cards {
  background-color: #222b23;
  padding: 10px;
  margin: 0px 15px 20px 15px;
  height: 5em;
  color: white;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0rem 0.2rem 0.2rem 0 rgba(0, 0, 0);
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px outset rgba(111, 119, 113, 0.938);
}

select {
  width: 250px;
  margin-top: 30px;
  border-radius: 3px;
  color: #3c4f40;
  padding-left: 5px;
  box-shadow: 0rem 0.2rem 0.2rem 0 rgba(0, 0, 0);
}
select:hover {
  /* background-color: #e7f7e8; */
  transform: translateY(-0.2rem);
  transition: transform 150ms;
}
#searchSubmission {
  padding: 0.5em;
  margin: auto 1em;
  text-align: center;
}

#submitButton {
  background-color: #3c4f40;
  border-radius: 20px;
  border: 2px outset rgba(107, 114, 109, 0.938);
  /* border: 2px double rgba(51, 66, 54, 0.75); */
  color: white;
  font-size: 12pt;
  padding: 3px 30px 3px 30px;
  box-shadow: 0rem 0.2rem 0.2rem 0 rgba(0, 0, 0);
  text-transform: uppercase;
}

#submitButton:hover {
  cursor: pointer;
  transform: translateY(-0.2rem);
  transition: transform 150ms;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(0, 0, 0);
}

/* ////////////////////////// END OF SEARCH PAGE ///////////////////////////////// */

/* ////////////////// START OF RESULTS PAGE /////////////////////// */

.resultsPage {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#resultsIntro {
  font-size: 45px;
  margin: 2rem 0 1rem 0;
  max-width: 90%;
}

#resultsIntro h2 {
  font-weight: bold;
  padding-bottom: 1rem;
  font-size: 18pt;
  color: #435646;
}
.results {
  background-color: #222b23;
  color: white;
  border-radius: 3px;
  margin: 1rem;
  text-align: center;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0rem 0.2rem 0.2rem 0 rgba(0, 0, 0);
  border: 2px outset rgba(111, 119, 113, 0.938);
}

.results h2 {
  font-weight: bold;
  padding-bottom: 1rem;
  font-size: 18pt;
}

.results:hover {
  transform: translateY(-0.2rem);
  transition: transform 150ms;
}
.results p {
  margin-bottom: 1rem;
}
.results a {
  color: #a0b5a4;
}

/* //////////////////////////// END OF RESULTS PAGE ////////////////////// */

/*/////////////////////////////START OF DETAILS PAGE//////////////////////*/
/*MARGARET ADDED/////////////////////////////////////////////////////////*/
#detailSidebar {
  background-color: #afdeb7;
  height: 30rem;
  width: 33%;
  padding: 1em;
}

#detailMain {
  height: 30rem;
  width: 66%;
  padding: 1em;
} 

#detailsParkName {
  text-align: center;
}

#detailActivitiesArea, #detailTopicsArea, #detailAmenitiesArea {
  border: 1px solid  #222b23; 
  width: 33%;
  float: left;
}

.detailCardSubheading {
  background-color: #222b23;
  color: white;
}

.detailImageItem {
  height: 200px;
  margin: 1em;
}
/*//////////////////////////END OF DETAILS PAGE//////////////////////////*/

footer {
  background-color: #435646;
  height: 1.5rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .bodyContainer {
    height: 110vh;
  }
  #searchContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .search-cards {
    width: 300px;
    margin: 15px;
    padding: 10px;
  }
}