#indexBody {
  background-color: #222b23;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 75vh;
  width: 100vw;
  line-height: 2.2rem;
}

#welcomeLogo {
  max-width: 60%;
  padding: 10px;
  margin-bottom: 40px;
}

.welcomeContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin-top: 20px;
  font-size: 17pt;
  text-align: center;
}

#startButton {
  background-color: #3c4f40;
  border-radius: 20px;
  border: 2px outset rgba(107, 114, 109, 0.938);
  color: white;
  font-size: 15pt;
  padding: 2px 30px 3px 30px;
  margin-top: 50px;
  box-shadow: 0rem 0.2rem 0.2rem 0 rgba(0, 0, 0);
}

#startButton:hover {
  cursor: pointer;
  transform: translateY(-0.2rem);
  transition: transform 150ms;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(0, 0, 0);
}
#logoImgIndex {
  max-width: 95%;
}

#footerIndex {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0px;
}
#smallScreen {
  display: none;
}

@media only screen and (max-width: 600px) {
  #welcomeLogo {
    max-width: 90%;
    margin-bottom: 25px;
  }

  #indexBody {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    width: 100vw;
  }

  #logoImgIndex {
    display: none;
  }

  #smallScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    /* background-color: lightcoral; */
  }
}
