/* tree logo */
#logoImgIndex {
  max-width: 80%;
  margin: auto;
}
#footerIndex {
  /* background-color: #435646;
  height: 2rem; */
  /* color: white; */
  /* display: flex;
  justify-content: center; */
  /* position: fixed; */
  /* bottom: 0; */
  /* width: 100%; */
}
